@model Places.BLL.DTO.AnswerDTO
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Деталі відповіді";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Деталі відповіді</h2>

<div>
    <h4>Відповідь</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">Id</dt>
        <dd class="col-sm-10">@Model.Id</dd>
        <dt class="col-sm-2">Зміст</dt>
        <dd class="col-sm-10">@Model.Content</dd>
        <dt class="col-sm-2">Питання</dt>
        <dd class="col-sm-10">@ViewBag.QuestionContent</dd>
        <dt class="col-sm-2">Користувач</dt>
        <dd class="col-sm-10">@ViewBag.UserName</dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Редагувати</a>
    <a asp-action="Index" class="btn btn-secondary">Назад до списку</a>
</div>