@model IEnumerable<Places.BLL.DTO.PlaceDTO>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Місця";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Places</h2>

<p>
    <a asp-action="Create" class="btn btn-primary">Ствоврити нове</a>
    <a asp-controller="Home" asp-action="Index" class="btn btn-secondary">На головну</a>
</p>



<table class="table">
    <thead>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Description</th>
        <th>Latitude</th>
        <th>Longitude</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var place in Model)
    {
        <tr>
            <td>@place.Id</td>
            <td>@place.Name</td>
            <td>@place.Description</td>
            <td>@place.Latitude</td>
            <td>@place.Longitude</td>
            <td>
                @if (User.IsInRole("Admin"))
                {
                    <a asp-action="Details" asp-route-id="@place.Id" class="btn btn-info">Деталі</a>
                    <a asp-action="Edit" asp-route-id="@place.Id" class="btn btn-primary">Редагувати</a>
                    <a asp-action="Delete" asp-route-id="@place.Id" class="btn btn-danger">Видалити</a>
                }
            </td>
        </tr>
    }
    </tbody>
</table>